endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
sets tags ""
sv_hostname "Project Sicario"
sets sv_projectName "Project Sicario"
sets sv_projectDesc ""
sets locale "en-US" 
set mysql_slow_query_warning 100
set gamename rdr3
set sv_enforceGameBuild 1436

# make your own creds.cfg
exec creds.cfg

# Cfx-Default
# ensure [cfx-default]
ensure mapmanager
ensure chat
ensure basic-gamemode
ensure hardcap

# Standalone
ensure [standalone]
ensure oxmysql

# Project Sicario
ensure [projectsicario]

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit allow # but don't allow quit